<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nana.chatt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloChatt">

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"

            android:value="face"/>

            android:value="face"
            />


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HelloChatt.NoActionBar"
            >

            <!--intent를 써놓은곳은 맨 처음 화면에 나올때 나오므로 맨 처음 화면으로 하고 싶다면 intent를 추가하기-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>